/* Basic styling, you can customize as needed */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #949494;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed; /* Make the progress bar fixed */
    top: 0; /* Position it at the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 100; /* Ensure it's on top */
}

.question-container {
    width: 80%;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.question {
    font-size: 20px;
    margin-bottom: 10px;
}

.options button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
